body {
    background-color: hsl(217, 19%, 38%);
}

.advice-card {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: hsl(217, 19%, 24%);
    padding: 20px 25px;
    margin-top: 10%;
    border-radius: 10px;
}

.dice {
    height: 20px;
    width: 20px;
    /* align-self: center; */
    background-color: hsl(150, 100%, 66%);
    padding: 20px;
    border-radius: 50%;
    margin-top: 20px;
}

.dice:hover {
    background-color: hsl(193, 38%, 86%);
}

.divider {
    width: 100%;
}

p {
    color: white
}

.advice {
    max-height: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 28px;
}

.advice-title {
    text-transform: uppercase;
    color: hsl(150, 100%, 66%);
    letter-spacing: 2px;
}